$navbar-default-bg: #2f6808;
$navbar-default-link-color: #ffffff;
$navbar-default-link-hover-color: #ffffb3;

@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron {
    margin-bottom: 0px;
    background-image: asset-url('book.jpg');
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
}
body {
     background-image: asset-url('imageback2.jpg');
}

