<div class="container" align='center'>
<footer class="footer">
<small>
Copyright © <a href="https://github.com/danieln96/BookShopOnline" target="_blank">Book Shop Online</a>
by <a href="#">Daniel Niczyporuk</a>
</small>
</footer>
</div>